* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #282c34;
	color: #fff;
	margin: 0;
	padding: 0;
}

.canvas-container {
	background-color: #212529;
	/* Dark gray canvas container background */
	border: 1px solid #444;
	/* Dark gray border */
	margin: 20px auto;
	/* padding: 10px; */
	max-width: 50%;
	overflow: hidden;
	/* Prevent canvas from overflowing */
}


.canvas-container canvas {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	/* Make canvas responsive */
}

.text-container {
	margin-bottom: 10px;
}

.text-container input[type="text"] {
	padding: 8px;
	width: 200px;
	border: 1px solid #777;
	border-radius: 4px;
}

.btn:hover {
	background-color: #0077A2;
	/* Darker blue on hover */
}

.btn {
	background-color: #0099CC;
	/* Light blue button background */
	color: #fff;
	/* White text color */
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-container button {
	margin: 0 5px;
}

.download-btn {
	margin-top: 20px;
}


.select-img-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.select-img-container img {
	width: calc(33.33% - 20px);
	max-width: 200px;
	height: auto;
	cursor: pointer;
	filter: blur(.1rem);
}

.select-img-container img:hover {
	transition: .3s;
	filter: unset;
}


.control-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.menu {
	background-color: #004F6A;
	/* Dark blue menu background */
	padding: 10px 0;
}


.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li {
	display: inline-block;
}


.menu a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	/* White text color */
	transition: background-color 0.3s ease;
}

.menu a:hover {
	background-color: #0099CC;

}

@media screen and (max-width: 800px) {
	.menu {
		position: relative
	}

	.menu ul {
		background: #444444;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 3;
		height: auto;
		display: none;
		text-align: left;
	}

	.menu ul.sub-menus {
		width: 100%;
		position: static;
	}

	.menu ul.sub-menus a {
		padding-left: 30px;
	}

	.menu li {
		display: block;
		float: none;
		width: auto;
	}



}